#minefield {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
}

#result {
    height: 40px;
    width: 360px;
    text-align: center;
    line-height: 40px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: burlywood;
    border: 1px inset black;
    text-align: center;
    line-height: 40px;
    user-select: none;
}

.revealed {
    background-color: white;
    border: 1px outset black;
}

.flagged {
    background-color: bisque;
    color: red;
}

.bomb {
    background-color: red;
    color: bisque;
}

.number-1 { color: blue; }
.number-2 { color: green; }
.number-3 { color: red; }
.number-4 { color: purple; }
.number-5 { color: darkred; }
.number-6 { color: teal; }
.number-7 { color: black; }
.number-8 { color: darkgray; }


